<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITP382_Building1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>ITP382_Building2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{480,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,600}}</string>
                <key>sourceSize</key>
                <string>{480,600}</string>
            </dict>
            <key>ITP382_Building3-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{409,882}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,882}}</string>
                <key>sourceSize</key>
                <string>{409,882}</string>
            </dict>
            <key>ITP382_Building4-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,804},{330,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,721}}</string>
                <key>sourceSize</key>
                <string>{330,721}</string>
            </dict>
            <key>ITP382_Building5-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,2},{274,725}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,725}}</string>
                <key>sourceSize</key>
                <string>{274,725}</string>
            </dict>
            <key>ITP382_Building6-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,554},{465,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,770}}</string>
                <key>sourceSize</key>
                <string>{465,770}</string>
            </dict>
            <key>ITP382_Building7-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,804},{330,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,722}}</string>
                <key>sourceSize</key>
                <string>{330,722}</string>
            </dict>
            <key>ITP382_Building8-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,804},{330,722}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,722}}</string>
                <key>sourceSize</key>
                <string>{330,722}</string>
            </dict>
            <key>ITP382_Building9-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{416,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,800}}</string>
                <key>sourceSize</key>
                <string>{416,800}</string>
            </dict>
            <key>InfinitePowerUp-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1440},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,78}</string>
            </dict>
            <key>Jump1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1322},{34,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>Jump2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,1326},{58,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>Running1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,804},{62,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>Running2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1322},{34,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>Running3-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1396},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>Running4-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1322},{34,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>Shield-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1440},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ShieldPowerUp-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1326},{50,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>White_Skinny_Cropped-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,278},{274,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,693}}</string>
                <key>sourceSize</key>
                <string>{274,693}</string>
            </dict>
            <key>backbutton-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1464},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fireball-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1326},{194,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,195}}</string>
                <key>sourceSize</key>
                <string>{194,195}</string>
            </dict>
            <key>firestreak-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,554},{200,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,183}}</string>
                <key>sourceSize</key>
                <string>{200,183}</string>
            </dict>
            <key>meteorite-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1326},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>missile-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,278},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>powerbarboxbig-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{524,35}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,35}}</string>
                <key>sourceSize</key>
                <string>{524,49}</string>
            </dict>
            <key>powerbarenergybig-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,804},{516,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,41}}</string>
                <key>sourceSize</key>
                <string>{516,41}</string>
            </dict>
            <key>raindrop-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,868},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blinkEntitySprites.pvr</string>
            <key>size</key>
            <string>{2040,1528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed6898dc7a8a69a48a9d4af14b16067:1/1$</string>
            <key>textureFileName</key>
            <string>blinkEntitySprites.pvr</string>
        </dict>
    </dict>
</plist>
